@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

body {
  font-family: "Montserrat", sans-serif !important;

  overflow-x: hidden !important;
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #000000;
}
.h1,
h1 {
  font-size: 38px;
}

.h2,
h2 {
  font-size: 36px;
}
.h3,
h3 {
  font-size: 32px;
}

.h4,
h4 {
  font-size: 26px;

  color: #000000;
}

.h5,
h5 {
  font-size: 24px;

  color: #000000;
}

.btn,
.btn:focus,
button,
button:focus {
  outline: none !important;
}

a {
  text-decoration: none !important;
  outline: none;
  font-weight: 600;
}

p {
  font-size: 24px;
  line-height: 26px;
  color: #000000 !important;
  font-weight: 500;
}
.useful-links h3 {
  color: #000000;
}
.useful-links ul {
  list-style-type: none;
  padding: 0;
  font-weight: bolder;
}
.useful-links ul li {
  margin-bottom: 10px;
}
.useful-links ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
}
.useful-links ul li a:hover {
  text-decoration: underline !important;
}

.row > * {
  position: relative;
}

.section {
  padding-top: 250px;
  padding-bottom: 100px;
  position: relative;
}

.section-sm {
  padding-top: 100px;
  padding-bottom: 75px;
  position: relative;
}

.section-lg {
  padding: 100px 0;
}
.home-section {
  height: "800px";
  padding-top: 0px;
  position: "relative";
}
.home-slider {
  padding: 0%;
}

.vertical-content {
  display: -moz-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
}
/*Rate Us*/
.star-rating {
  font-size: 2rem;
  cursor: pointer;
}

.star {
  color: #ccc;
  transition: color 0.3s ease-in-out;
}

.star:hover,
.star.filled {
  color: #ffc107;
}
/* our changes*/
.mycolor {
  color: #f5a37d;
}
.tomato {
  color: #fffefe !important;
}
.mybtn {
  background-color: black;
  color: white;
}

.mybtn:hover {
  background-color: #ffffff;
  color: #fb5607 !important;
  font-weight: bolder;
  border: 1px solid #fb5607;
}

.mybg {
  background: url("../lifeisok/art.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*background */

.bg-overlay {
  background: #fb5607;
  opacity: 0.85;
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
}

.bg-overlay-org {
  background-color: #fb5607 !important;
  opacity: 0.95;
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
}
.ft-overlay {
  background: #fb5607;
  opacity: 0.9;
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
}

.box-shadow {
  box-shadow: 0px 3px 6px 1px rgba(38, 107, 193, 0.08);
}

::selection {
  background-color: #272a33;
  color: #ffffff;
}
.section-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0px;
  padding-bottom: 1rem;
  line-height: 1;
  font-size: 1.75rem;
  font-weight: 700;
}
.svg-pattern {
  width: 100%;
  position: relative;
}
.hover-effect {
  transition: all 0.3s ease-in-out;
}
.hover-effect:hover {
  transform: translateY(-1rem);
  box-shadow: 0px 3px 6px 1px rgba(238, 137, 6, 0.404) !important;
}

.bg-light {
  background-color: #ffffff !important;
}

.btn {
  padding: 10px 22px;
  font-size: 20px;
  transition: all 0.5s;
}
.btn:focus {
  box-shadow: none;
}
.btn:hover {
  transform: translateY(-5px);
}

.btn-sm {
  padding: 8px 12px;
  font-size: 18px;
}

.shadow {
  box-shadow: 0px 3px 6px 1px rgba(38, 107, 193, 0.08) !important;
}

.btn-primary {
  background: #fb5607;
  border-color: #b84d00 !important;
}

.icon-dual-orange {
  color: #000000;
  fill: rgb(0, 0, 0);
}

.navbar-custom {
  background-color: rgb(255, 0, 0);
  padding: 20px 0px;
  width: 100%;
  border-radius: 0px;
  z-index: 999;
  margin-bottom: 0px;
  transition: all 0.5s ease-in-out;
}
.navbar-custom .navbar-nav {
  margin-left: 50px;
}
.navbar-custom .navbar-nav li a {
  color: rgba(0, 0, 0, 0.85);
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  text-transform: capitalize;
  transition: all 0.5s;
  background-color: transparent !important;
  padding: 15px 0;
  margin: 0 10px;
  font-weight: 600;
}
.navbar-custom .navbar-nav li a.active,
.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:active {
  color: #000000;
  font-weight: bold;
}

.sticky-wrapper {
  position: absolute;
  width: 100%;
}

.navbar-toggler {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #ffffff;
}

.navbar-custom .navbar-toggles {
  padding: 0.25rem 0.75rem;
  font-size: 18px;
  background: 0 0;
  border: 1px solid transparent;
  outline: 0;
}
.navbar-custom .navbar-toggles-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
}

.menu-toggle {
  padding: 4.5px 10px !important;
}

.menu-toggle span {
  line-height: 27px;
}

.navbar-button {
  margin-left: 20px;
}
/* my animations */

.animationboxbg {
  opacity: 0.95;
  position: absolute;
  height: 60%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0%;
  z-index: -1;
}

/*---NAVBAR STICKY--*/
.top-navbar {
  padding: 8px 0;
  font-size: 18px;
}
.contact-info {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.contact-info p {
  margin: 0;
  color: #ffffff;
}
/* Adjusting navbar padding for a shorter height */
.navbar-custom {
  background-color: #f5dede !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.navbar-custom .navbar-nav .nav-link {
  color: #000000 !important; /* our color */
}
.navbar-custom .navbar-nav .nav-link:hover,
.navbar-custom .navbar-nav .nav-link:focus {
  background-color: transparent;
  font-weight: bolder;
}
.navbar-custom .navbar-nav .active > .nav-link,
.navbar-custom .navbar-nav .nav-link.active,
.navbar-custom .navbar-nav .nav-link.show {
  font-weight: lighter; /* Lighter font weight for active link */
}
.nav-sticky.navbar-custom {
  padding: 5px 0; /* Ensuring the sticky navbar also has reduced padding */
  box-shadow: 0px 3px 10px 0px rgba(38, 107, 193, 0.08);
}
.nav-sticky.navbar-custom.sticky-dark {
  background-color: #ffffff; /* White background for sticky navbar */
}
.navbar-brand img {
  transition: transform 0.3s ease-in-out;
}
.nav-sticky .navbar-brand img {
  transform: scale(0.8);
}

.service4-bg {
  /* The image used */
  background-image: url("../lifeisok/service-bg.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-container {
  width: 100%; /* Ensure the Carousel container takes up full width */
  overflow: hidden; /* Prevent overflow */
}

.carousel-image {
  max-width: 100%; /* Ensure the image fits within its container */
  height: auto; /* Maintain aspect ratio */
  overflow: hidden;
}

.bg-contact {
  background-image: url("../images/contact-us-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-refer {
  background-image: url("../images/refer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.feedback-bg {
  background: url("../lifeisok/feedback-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home-title {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  line-height: 64px;
}

.home-small-title {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.home-desc {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  max-width: 500px;
  margin: 0 auto;
}
.home-half {
  padding-bottom: 300px; /* Increased bottom padding */
  padding-top: 400px; /* Increased top padding */
}
/* ------- Demo 2 wave animation --------- */
.wave-effect {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 150px;
  overflow: hidden;
}

.shape-one {
  z-index: 15;
  opacity: 0.5;
}

.shape-two {
  z-index: 10;
  opacity: 0.75;
}

.shape-three {
  z-index: 5;
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

.waves-shape {
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wave-one {
  background-size: 50% 100px;
  bottom: -40px;
}

.wave-anim .wave-one {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  animation-delay: 1s;
}

.wave-two {
  background-image: url("../images/wave-shape/wave2.png");
  background-size: 50% 120px;
}

.wave-anim .wave-two {
  animation: move_wave 10s linear infinite;
}

.wave-three {
  background-image: url("../images/wave-shape/wave3.png");
  background-size: 50% 100px;
}

.wave-anim .wave-three {
  animation: move_wave 15s linear infinite;
}

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
[data-bs-theme="dark"] .shape-one {
  opacity: 0.5;
  z-index: 5;
}
[data-bs-theme="dark"] .shape-two {
  opacity: 0.6;
  z-index: 10;
}
[data-bs-theme="dark"] .shape-three {
  opacity: 1;
  z-index: 15;
}
[data-bs-theme="dark"] .wave-one path {
  fill: #18222e;
  stroke: #18222e;
}
[data-bs-theme="dark"] .wave-two {
  background-image: url("../images/wave-shape/wave-dark2.png");
}
[data-bs-theme="dark"] .wave-three {
  background-image: url("../images/wave-shape/wave-dark3.png");
}
.features-box h3 {
  margin-bottom: 25px;
  margin-top: 0;
  line-height: 36px;
}
.features-box .features-item-list li {
  position: relative;
  line-height: 24px;
  font-size: 20px;
  padding: 7px 0 7px 20px;
}
.features-box .features-item-list li:before {
  content: "";
  border-radius: 50%;
  width: 7px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 14px;
}

[dir="rtl"] .features-box .features-item-list li:before {
  right: 0;
}
[dir="rtl"] .features-box .features-item-list li {
  padding: 7px 14px 7px 20px;
}

.services-box {
  padding: 15px 20px;
  box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1) !important;
}
.services-box i {
  margin-bottom: 15px;
}
.services-box p {
  margin-top: 0;
}

.bg-get-start {
  background: url("../images/art.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.form-control {
  margin-bottom: 20px;
  box-shadow: none !important;
  height: 50px;
  padding-left: 20px;
  font-size: 14px;
  background-color: var(--bs-form-bg);
  border-color: var(--bs-border-color);
}
.form-control:focus {
  border-color: #ccc;
}

textarea.form-control {
  height: auto;
  padding-top: 13.5px;
}

.alert-warning {
  padding: 10px;
}

.footer {
  padding: 10px;
  position: relative;

  font-weight: bolder;
}
.footer h4 {
  color: #000000;
}

.footer .footer-logo {
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  height: auto;
  font-family: "Montserrat", sans-serif;
}

.footer p {
  color: #ffffff;
}

@media (min-width: 200px) and (max-width: 1024px) {
  .navbar-custom {
    margin-top: 0px;
    padding: 10px 0px !important;
    box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
  }
  .navbar-custom .navbar-nav {
    margin-left: 0px;
  }
  .navbar-custom .navbar-nav li.active {
    border-color: transparent;
  }
  .navbar-custom .navbar-nav li a {
    transition: all 0.4s;
    margin: 0px;
    color: rgba(0, 0, 0, 0.6) !important;
  }
  .navbar-custom > .container {
    width: 90%;
  }
  .navbar-white .navbar-toggler {
    color: #000000 !important;
  }
  .navbar-button {
    margin-top: 15px;
    margin-left: 0px;
  }
  .navbar-custom .navbar-nav {
    color: #000000;
  }
  .navbar-custom .navbar-nav li a {
    color: #000000 !important;
  }
  .navbar-custom .navbar-nav li.active a,
  .navbar-custom .navbar-nav li a:hover,
  .navbar-custom .navbar-nav li a:active {
    color: #000000 !important;
    font-weight: bolder;
  }
  .navbar-toggler {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000000;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .home-half {
    padding-bottom: 150px;
    padding-top: 150px;
  }
  .home-half .home-title {
    font-size: 32px;
    line-height: 48px;
  }
  .home-section {
    height: auto;
    padding-bottom: 200px;
    margin-bottom: 200px;
  }
  .home-slider {
    padding: 0%;
    margin-top: 20%;
  }
  .home-btn {
    max-height: 50px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px !important;
  }
}

.bg-service1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../lifeisok/core.jpg");
}
.bg-service2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../lifeisok/capacity.jpg");
}
.bg-service3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../lifeisok/accomodation.png");
}
.bg-service4 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../lifeisok/support.jpg");
}
.bg-service5 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../lifeisok/employment.jpg");
}
.service-half {
  padding-bottom: 275px;
  padding-top: 375px;
}
.refer-half {
  padding-bottom: 200px;
  padding-top: 300px;
}
.contact-half {
  padding-bottom: 200px;
  padding-top: 300px;
}
.bg-support {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../lifeisok/core.jpg");
  padding-bottom: 150px;
  padding-top: 200px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.bg-about {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../lifeisok/dev.png");
  width: 100%;
}
.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px; /* Set a fixed height or adjust as needed */
  background-size: cover; /* Make sure background image covers the entire area */
}

/* Container for flipping */
.flip-container {
  perspective: 1000px;
}

/* Flipping element */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
}

/* Front side of the flipping element */
.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

/* Front side of the flipping element */
.front {
  z-index: 2; /* Front should appear on top */
}

/* Back side of the flipping element */
.back {
  transform: rotateY(180deg);
}

/* Flipping animation */
.flip-container:hover .flipper {
  transform: rotateY(180deg);
}
